fastapi==0.103.2
uvicorn[standard]==0.23.2
sqlalchemy==2.0.43
asyncpg==0.31.0
psycopg2-binary==2.9.10
alembic==1.16.4
pydantic==2.11.7
pydantic[email]==2.11.7
pydantic-settings==2.10.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.9
httpx==0.28.1
python-dotenv==1.1.1
apscheduler==3.10.4
slowapi==0.1.9
orjson==3.11.2
python-slugify==8.0.4
shortuuid==1.0.13
pypdf==6.6.0
jinja2==3.1.6
aiofiles==24.1.0
requests==2.32.4
email-validator==2.2.0
icmplib==3.0.4
cryptography==45.0.6
librouteros==3.3.0
